html,
body {
  padding: 0;
  margin: 0;
  font-size: 17px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-table-footer {
  padding: 0 !important;
}
